<div class="controls">
  <button (click)="print()">Print</button>
</div>
<div class="screen-container">
  <div *ngFor="let group of groups">
    <app-header [header]="group.Header"></app-header>
    <div class="items-container">
      <div *ngFor="let item of group.Items">
        <app-item [item]="item"></app-item>
      </div>
    </div>
    <app-footer [footer]="group.Footer"></app-footer>
  </div>
</div>
<div class="print-container">
  <div *ngFor="let page of pages; let i = index" class="page">
    <app-header [header]="page.Header" class="page-header"></app-header>
    <div class="items-container">
      <div *ngFor="let item of page.Items">
        <app-item [item]="item" class="page-item"></app-item>
      </div>
    </div>
    <app-footer
      [footer]="page.Footer"
      [page]="i + 1"
      class="page-footer"
    ></app-footer>
  </div>
</div>
